*.iml
.gradle
/.kotlin/
/.gradle-user
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.codex
/.codex*
/.claude
/AGENTS.md
/CLAUDE.md

# Ignore BASS/BASSMIDI proprietary stuff
/app/src/main/jniLibs/
/app/src/main/java/com/un4seen/bass/
/proprietary/

# Ignore app releases
/app/release/