[Desktop Entry]
Name=2by2 MIDI Player
Comment=APPLICATION_DESCRIPTION
Exec=APPLICATION_LAUNCHER %F
Icon=APPLICATION_MENU_ICON
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
MimeType=audio/midi;audio/x-midi;audio/mid;audio/x-mid;
